<ul class="indicators">
<% @indicators.each do |indicator| %>
  <% 
  value = @user.value_for_indicator(indicator)
  other_value = Log.other_value(value)
  %>
  <li class="indicator indicator_value_<%= @user.value_for_indicator(indicator) %>">
    <a data-method="put" href="<%= log_path(indicator_id: indicator.id, value: other_value) %>" rel="nofollow">
      <article>
        <p class="name"><%= indicator %></p>
        <p class="value"><%= humanize_log(value) %></p>
      </article>
    </a>
  </li>
<% end %>
</ul>