<h1>Indicators</h1>

<%= link_to 'New Indicator', new_indicator_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <% @teams.each do |team| %>
        <th><%= team %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @indicators.each do |indicator| %>
      <tr>
        <td><%= link_to indicator, indicator %></td>
        <% @teams.each do |team| %>
          <td><%= team_value(team.value_for_indicator(indicator)) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>